@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --swiper-pagination-color: #fff;
    --swiper-navigation-color: #fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


*{
    box-sizing: border-box;
    vertical-align: top;

}


a{
    color: #fff;
    text-decoration: none;
    z-index: 1;
}


body{
    margin: 0;
    background-color: #05090D;
    color: #fff;
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    height: max-content;
}

main{
    margin: 0 150px;
    height: max-content;
}

/* Navigation Bar */

nav{
    margin: 0 50px;
    margin-bottom: 50px;
    height: 366px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

nav ul{
    z-index: 99;
    height: fit-content;
    margin-top: -500px;
    transition: 400ms;

}

.mobile-menu{
    margin-top: 16px;
}


nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 5px;
}

.nav_links{
    text-decoration: none;
    font-size: 32px;
}

.nav_links:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.logo{
    margin-top: 16px;
    width: 150px;
    height: 150px;
}

.waves{
    width: 100%;
    height: 580px;
    position: absolute;
    z-index: -1;
}


/* Burger Menu */

.menuburger{

    cursor: pointer;
    z-index: 99;
    margin: 16px;
    height: fit-content;

}

.menuburger .bar1, .bar2, .bar3{
    width: 50px;
    height: 8px;
    background-color: #fff;
    margin: 8px;
    transition: 400ms;
}

.change .bar1{
    transform: translate(0, 16px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
  transform: translate(0, -16px) rotate(45deg);
}


/* Main Page */
.box_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 40px;
}

.box_wrapper h3{
    font-size: 32px;
}

.box_wrapper .card_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}


.card_wrapper .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.card_wrapper  .card img{
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid #fff;

}

/* SWIPER */

.slider_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.slider_wrapper h3{
    font-size: 32px;
}


.swiper {
    width: 1000px;
    height: 500px;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #fff;
}

.swiper h3{
    font-size: 32px;
}

.slider-swipe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* Lists */

.list_wrapper{
    display: flex;
    background-color: #101C28;
    margin: 20px;
    border-radius: 15px;
}

.list_infos{
    display: flex;
    flex-direction: column;
}

.list_img{
    width: 200px;
    padding: 20px;
    object-fit: cover;
}

.list_genre_wrapper{
    display: flex;
    background-color: #101C28;
    margin: 20px;
    border-radius: 15px;
    width: fit-content;
}

.list_genre_infos{
    margin: 10px;
}

/* Details */

.details_wrapper{
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.details_infos{
    display: flex;
    background-color: #101C28;
    border-radius: 15px;
    margin: 10px;
}


.details_img{
    width: 200px;
    padding: 20px;
    object-fit: cover;
}


.note{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.note i{
    margin-right: 5px;
}

.note span{
    margin-right: 10px;
}

.note span{
    font-weight: 700;
}

.details_txt{
    display: flex;
    flex-direction: column;
    background-color: #101C28;
    border-radius: 15px;
    margin: 10 50px;
    padding: 20px;
    line-height: 1.5;
    text-transform: none;
}

.details_txt h4{
    margin: 5px;
}

.acteurs_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acteurs{
    display: flex;
    justify-content: center;
}

.acteur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #101C28;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    width: fit-content;
    min-width: 185px;
}

.acteur a{
    text-align: center;
}

.acteur img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.films_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.films{
    display: flex;
    justify-content: center;
}

.film{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101C28;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    width: fit-content;
    min-width: 185px;

}

.film img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

/* Ajouts */

.add_btn{
    margin: 5px;
    padding: 10px 20px;
    background-color: #101C28;
    border-radius: 15px;
    width: fit-content;
}

.del_btn{
    margin: 5px;
    padding: 10px 20px;
    background-color: #740c0c;
    border-radius: 15px;
    width: fit-content;
    z-index: 0;
}

footer{
    overflow-x: hidden;
}