*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

main{
    margin: 0 150px;
}

.list_wrapper{
    display: flex;
    background-color: #b1b1b1;
    margin: 20px;
}

.list_infos{
    display: flex;
    flex-direction: column;
}

.img_list{
    width: 150px;
    padding: 20px;
}